.Rectangle-6 {
  height: 1066px;
  flex-grow: 0;
  margin: 0 0 122px;
  padding: 68px 0 4px;
  -webkit-backdrop-filter: blur(360px);
  backdrop-filter: blur(360px);
  background-image: url("./banner_bg_white_06.png");
  background-size: cover;
  /* background-image: radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 123%); */
}

.Vector-15 {
  /* width: 570px; */
  height: 1px;
  flex-grow: 0;
  /* margin: 104.5px 735px 90px 0; */
  background-color: #c0e1fc;
}
.Vector {
  width: 24px;
  height: 13.6px;
  background-color: #1a60f6;
}

.Frequently-Asked-Questions {
  width: 870px;
  height: 66px;
  flex-grow: 0;
  /* margin: 0 150px 62px; */
  margin-left: 30%;
  font-family: Manrope;
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
} 


.Q-What-is-Terazo-How-does-it-work {
    width: 570px;
    height: 44px;
    margin: 0 560px 0 0;
    font-family: Manrope;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .We-wish-to-make-private-market-investing-inclusive-and-frictionless-for-everyone-through-a-regulated {
    width: 1162px;
    height: 95px;
    flex-grow: 0;
    margin: 10.5px 8px 19px 0;
    font-family: Manrope;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Q-Question-goes-here-and-can-be-longer-too {
    width: 570px;
    height: 44px;
    margin: 0 560px 0 0;
    font-family: Manrope;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }